/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
$darkGrey: #4e4e4e;
body{
    font-family: 'Noto Sans JP', sans-serif !important;
    color:$darkGrey;
}
